---
# handlers file for logstash
- name: Enable Logstash service at startup
  ansible.builtin.service:
    name: logstash
    state: started
    enabled: true
- name: Restart Logstash service
  ansible.builtin.service:
    name: logstash
    state: restarted
