---
# handlers file for filebeat
- name: Enable filebeat service at startup
  ansible.builtin.service:
    name: filebeat
    state: started
    enabled: true

- name: Enable metricbeat service at startup
  ansible.builtin.service:
    name: metricbeat
    state: started
    enabled: true
