---
# tasks file for filebeat
- name: Install filebeat (Amazon)
  ansible.builtin.dnf:
    name: filebeat
    state: present
    update_cache: true
  when: ansible_distribution == "Amazon"
  notify:
    - Enable filebeat service at startup

- name: Install metricbeat (Ubuntu)
  ansible.builtin.apt:
    name: metricbeat
    state: present
  when: ansible_distribution == "Ubuntu"
  notify:
    - Enable metricbeat service at startup
