---
- name: Import elasticsearch rpm key (Amazon)
  ansible.builtin.rpm_key:
    state: present
    key: "{{ elasticsearch_elastic.rpm_key }}"
  when: ansible_distribution == "Amazon"

- name: Copy elasticsearch repo file (Amazon)
  ansible.builtin.template:
    src: elasticsearch.repo.j2
    dest: /etc/yum.repos.d/elasticsearch.repo
    mode: '0644'
  when: ansible_distribution == "Amazon"

- name: Download Elasticsearch RPM (Amazon)
  ansible.builtin.get_url:
    url: https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-{{ elasticsearch_elastic.version }}.rpm
    dest: /tmp/elasticsearch-{{ elasticsearch_elastic.version }}.rpm
    mode: '0644'
  when: ansible_distribution == "Amazon"

- name: Download Elasticsearch SHA Key (Amazon)
  ansible.builtin.get_url:
    url: https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-{{ elasticsearch_elastic.version }}.rpm.sha512
    dest: /tmp/elasticsearch-{{ elasticsearch_elastic.version }}.rpm.sha512
    mode: '0644'
  when: ansible_distribution == "Amazon"

- name: Import Elasticsearch PGP Key (Ubuntu)
  ansible.builtin.apt_key:
    url: "{{ elasticsearch_elastic.rpm_key }}"
    state: present
  when: ansible_distribution == "Ubuntu"

- name: Add repository definition (Ubuntu)
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/elastic-7.x.list
    content: |
      deb https://artifacts.elastic.co/packages/7.x/apt stable main
    mode: '0644'
  when: ansible_distribution == "Ubuntu"

- name: Update cache and ignore errors in case of problems (Ubuntu)
  ansible.builtin.apt:
    update_cache: true
  register: elasticsearch_apt_update_result
  failed_when:
    - elasticsearch_apt_update_result is failed
    - "'Could not fetch' not in elasticsearch_apt_update_result.msg"
  when: ansible_distribution == "Ubuntu"
  ignore_errors: true

- name: Get file elasticsearch repo location (Amazon)
  ansible.builtin.stat:
    path: /etc/yum.repos.d/elasticsearch.repo
  register: elasticsearch_repo
  when: ansible_distribution == "Amazon"

- name: Check file elasticsearch repo location (Amazon)
  ansible.builtin.debug:
    var: elasticsearch_repo.stat.exists
  when: ansible_distribution == "Amazon"

- name: Get elasticsearch RPM file location (Amazon)
  ansible.builtin.stat:
    path: /tmp/elasticsearch-7.15.2-x86_64.rpm
  register: elasticsearch_rpm
  when: ansible_distribution == "Amazon"

- name: Check elasticsearch RPM file location (Amazon)
  ansible.builtin.debug:
    var: elasticsearch_rpm.stat.exists
  when: ansible_distribution == "Amazon"

- name: Get elasticsearch SHA Key location (Amazon)
  ansible.builtin.stat:
    path: /tmp/elasticsearch-7.15.2-x86_64.rpm.sha512
  register: elasticsearch_sha
  when: ansible_distribution == "Amazon"

- name: Check elasticsearch SHA Key location (Amazon)
  ansible.builtin.debug:
    var: elasticsearch_sha.stat.exists
  when: ansible_distribution == "Amazon"
