[elasticsearch-8.x]
name=Elasticsearch repository for 8.x packages
baseurl= {{ elasticsearch_elastic.baseurl }}
gpgcheck=1
gpgkey= {{ elasticsearch_elastic.rpm_key }}
enabled=1
autorefresh=1
type=rpm-md