---
- name: Deploy ELK stack
  hosts: all
  become: true

  roles:
    - java
    - elasticsearch
    - logstash
    - kibana
    - filebeat

  tasks:
    - name: Run handlers
      ansible.builtin.meta: flush_handlers

    - name: Check ELK services status
      ansible.builtin.service_facts:
      register: elk_state

    - name: Check Elasticsearch Service Status
      ansible.builtin.debug:
        var: elk_state.ansible_facts.services['elasticsearch.service']

    - name: Check Logstash Service Status
      ansible.builtin.debug:
        var: elk_state.ansible_facts.services['logstash.service']

    - name: Check Kibana Service Status
      ansible.builtin.debug:
        var: elk_state.ansible_facts.services['kibana.service']
