---
# handlers file for kibana
- name: Enable Kibana service at startup
  ansible.builtin.service:
    name: kibana
    state: started
    enabled: true
- name: Restart Kibana service
  ansible.builtin.service:
    name: kibana
    state: restarted
