---
# tasks file for kibana
- name: Install kibana (Amazon)
  ansible.builtin.dnf:
    name: kibana
    state: present
    update_cache: true
  when: ansible_distribution == "Amazon"
  notify:
    - Enable Kibana service at startup

- name: Install kibana (Ubuntu)
  ansible.builtin.apt:
    name: kibana
    state: present
  when: ansible_distribution == "Ubuntu"
  notify:
    - Enable Kibana service at startup

- name: Copy kibana config file
  ansible.builtin.template:
    src: kibana.yml.j2
    dest: /etc/kibana/kibana.yml
    mode: '0644'
  notify:
    - Restart Kibana service

- name: Get kibana config file location
  ansible.builtin.stat:
    path: /etc/kibana/kibana.yml
  register: kibana_file

- name: Check kibana config file location
  ansible.builtin.debug:
    var: kibana_file.stat.exists

- name: Get elasticsearch host configuration
  ansible.builtin.lineinfile:
    name: /etc/kibana/kibana.yml
    line: "http://localhost:9200"
    state: present
  check_mode: true
  register: kibana_host

- name: Ensure elasticsearch host is configured
  ansible.builtin.debug:
    var: kibana_host.failed

- name: Get kibana server port
  ansible.builtin.lineinfile:
    name: /etc/kibana/kibana.yml
    line: "server.port: 5601"
    state: present
  check_mode: true
  register: kibana_port

- name: Ensure kibana server port is 5601
  ansible.builtin.debug:
    var: kibana_port.failed
