---
# tasks file for logstash
- name: Install Logstash (centos)
  ansible.builtin.dnf:
    name: logstash
    state: present
    update_cache: true
  when: linux_distribution == "centos"
  notify:
    - Enable Logstash service at startup

- name: Install Logstash (ubuntu)
  ansible.builtin.apt:
    name: logstash
    state: present
  when: linux_distribution == "ubuntu"
  notify:
    - Enable Logstash service at startup

- name: Copy apache config file
  ansible.builtin.template:
    src: apache-01.conf.j2
    dest: /etc/logstash/conf.d/apache-01.conf
    mode: '0644'
  notify:
    - Restart Logstash service

- name: Get apache config file location
  ansible.builtin.stat:
    path: /etc/logstash/conf.d/apache-01.conf
  register: logstash_apache

- name: Check apache config file location
  ansible.builtin.debug:
    var: logstash_apache.stat.exists
